<form action="{{ url_for('login') }}" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>Username：</td>
                        <td><input type="text" placeholder="Please enter your username " name="username"></td>
                    </tr>
                    <tr>
                        <td>Password：</td>
                        <td><input type="text" placeholder="Please enter your password" name="password"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Login"></td>
                    </tr>
                </tbody>
            </table>
        </form>
