<!DOCTYPE html>
<html lang="en">
  <body>
<h1> Your current products. </h1>
    <table border=1 width=30>
      <tr>
        <th>product_id</th>
      </tr>
    {% for n in data %}
	<tr>
        <th> {{n}} </th>
	</tr>
	{% endfor %}
    </table>
  
<h1> Your current advertisements. </h1>
<table border=1 width=1200>
      <tr>
        <th>advertisement id</th>
        <th>product id</th>
        <th>price</th>
      </tr>
	{% for n in data2 %}
	<tr>
		{% for i in n %}
		<th> {{i}} </th>
		{% endfor %}
	</tr>
	{% endfor %}
    </table>

<h1> Your could buy some advertisements.</h1>
<a href="/advertisement">
    <button>List of advertisements</button>
</a>
  </body>

