<!DOCTYPE html>
<html lang="en">
  <body>
<h1> Your current orders. <\h1>
    <table border=1 width=3000>
      <tr>
        <th>Order id</th>
        <th>product_id</th>
        <th>quantity</th>
        <th>price</th>
      </tr>
	{% for n in data %}
	<tr>
		{% for i in n %}
		<th> {{i}} </th>
		{% endfor %}
	</tr>
	{% endfor %}

    </table>
<form method='POST'> You could search for a product: <input type='text',name="product_name"> 
<br><input type="submit" value="go search"></br>
</form>
	
  </body>

